<nav class="pcoded-navbar">
  <div class="sidebar_toggle">
    <a href="#"><i class="icon-close icons"></i></a>
  </div>
  <div class="pcoded-inner-navbar main-menu">
    <div style="text-align: center;">
      <div class="main-menu-header ">
        <img
          class="img-80 img-radius "
          src="/assets/images/avatar-blank.jpg"
          alt="User-Profile-Image"
        />
        <div class="user-details">
          <span id="more-details "
            >{{usuario.nombres + ' ' + usuario.apellidos}}
          </span>
        </div>
      </div>
    </div>

    <ul class="pcoded-item pcoded-left-item">
      <li class="">
        <a routerLink='home' class="waves-effect waves-dark">
          <span class="pcoded-micon"
            ><i class="ti-home"></i><b>D</b></span
          >
          <span class="pcoded-mtext" data-i18n="nav.dash.main"
            >Inicio</span
          >
          <span class="pcoded-mcaret"></span>
        </a>
      </li>
      <li class="pcoded-hasmenu">
        <a href="javascript:void(0)" class="waves-effect waves-dark">
          <span class="pcoded-micon"
            ><i class="ti-layout-grid2-alt"></i
          ></span>
          <span
            class="pcoded-mtext"
            data-i18n="nav.basic-components.main"
            >Gestión</span
          >
          <span class="pcoded-mcaret"></span>
        </a>
        <ul class="pcoded-submenu">
          <li class=" ">
            <a routerLink='gestion/cliente' class="waves-effect waves-dark">
              <span class="pcoded-micon"
                ><i class="ti-angle-right"></i
              ></span>
              <span
                class="pcoded-mtext"
                data-i18n="nav.basic-components.alert"
                >Clientes</span
              >
              <span class="pcoded-mcaret"></span>
            </a>
          </li>

          <li class=" ">
            <a routerLink='gestion/trabajador' class="waves-effect waves-dark">
              <span class="pcoded-micon"
                ><i class="ti-angle-right"></i
              ></span>
              <span
                class="pcoded-mtext"
                data-i18n="nav.basic-components.breadcrumbs"
                >Trabajadores</span
              >
              <span class="pcoded-mcaret"></span>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
